#hero {
  width: 100%;
  background: url("/images/bg/bg.jpeg"), no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center !important;
  color: #fff;
  .hero-black {
    width: 100%;
    background: #0000006b;
    display: flex;
    align-items: center;
    padding: 40px 0 !important;
    .hero-container {
      max-width: 1200px;
      margin: 0 auto;
      @media (max-width: 850px) {
        width: 100% !important;
      }
      .row {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 850px) {
          width: 100% !important;
          display: block;
        }
        .text_side {
          width: 70% !important;
          @media (max-width: 850px) {
            width: 100% !important;
            text-align: center;
          }
          h1 {
            font-size: 52px;
            @media (max-width: 850px) {
              font-size: 42px;
            }
          }
          p {
            font-size: 19px;
            margin: 10px 0;
            padding-right: 100px;
            @media (max-width: 850px) {
              font-size: 17px;
              padding-right: 0;
            }
          }
          button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background: #000;
            color: #fff;
            font-size: 19px;
            @media (max-width: 850px) {
              font-size: 17px;
              margin-bottom: 20px;
            }
          }
        }
        .img_side {
          width: 30% !important;
          border-radius: 20px;
          @media (max-width: 850px) {
            width: 100% !important;
            text-align: center;
          }
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            height: 300px;
            @media (max-width: 850px) {
              width: 300px;
              height: 300px;
            }
          }
        }
      }
    }
  }
}
